/*less*/
html,body{height: 100%;width: 100%;margin:0;padding:0;}  
body{  
    background:url(../img/map.jpg)no-repeat;  
    width:100%;  
    height:100%;  
    background-size:100% 100%;  
    position:absolute;  
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/map.jpg',sizingMethod='scale');  
}
div:hover{
    cursor:pointer;
}
#view1{
    position: absolute;
    top: 35rem;
    left: 17rem;
}
#view2{
    position: absolute;
    top: 26rem;
    left: 18rem;
}
#view3{
    position: absolute;
    top: 30rem;
    left: 32rem;
}
#view4{
    position: absolute;
    top: 40rem;
    left: 26rem;
}
#view5{
    position: absolute;
    top: 45rem;
    left: 31rem;
}
#view6{
    position: absolute;
    top: 39rem;
    left: 37rem;
}
#view7{
    position: absolute;
    top: 38rem;
    left: 50rem;
}
#view8{
    position: absolute;
    top: 44rem;
    left: 49rem;
}
#view9{
    position: absolute;
    top: 35rem;
    left: 64rem;
}
#view10{
    position: absolute;
    top: 55rem;
    left: 75rem;
}
#view11{
    position: absolute;
    top: 47.5rem;
    left: 64.5rem;
}
#view12{
    position: absolute;
    top: 23rem;
    left: 62rem;
}
#view13{
    position: absolute;
    top: 35rem;
    left: 78rem;
}
#view14{
    position: absolute;
    top: 44rem;
    left: 81rem;
}
#view15{
    position: absolute;
    top: 27rem;
    left: 89rem;
}
#view16{
    position: absolute;
    top: 19rem;
    left: 90rem;
}
.view:hover > .blur{
    background: #FFCC33;
    transition-duration: 100ms;
    transition-timing-function: ease;
}
.view .text{
    margin: 10px;
}
.view .blur{
    filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFF66;
    z-index: -1;
}
.iframeImg{
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 500px;
}
.iframeText{
    padding: 10px;
}
.form{
    position: relative;
    top: 118px;
    left: 67px;
}
.icon{
    position: absolute;
    left: 306px;
    color:#666666;
}
#drawing{
    position: absolute;
}